/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

 .heroBanner {
  min-height: 323px;
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-image: linear-gradient(90deg, rgba(251, 179, 101, 1) 0%, rgba(236, 65, 122, 1) 40%);
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}
